.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.login {
    background-color: rgb(233, 212, 222);
  padding: 1rem;
  border: 1px solid  black;
  border-radius: 1rem;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

.login button {
    margin-top: 1rem;
}

.login h3 {
    font-family: cursive;
    color: indianred;
}

input:invalid {
    box-shadow:0 0 1px 1px red;
}

select:invalid {
    box-shadow:0 0 1px 1px red;
}

form {
    display: grid;
}